<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    
    <a href="" class="brand-link">
        <img src="assets/img/telemetrik_logo.png" alt="Telemetrik" class="brand-text p-2" style="max-width: 100%">
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->

        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="assets/img/user_icon.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a class="d-block">Eduardo Gonzalez</a>
            </div>
        </div>


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-header">The People's Network</li>

                <li class="nav-item">
                    <a routerLink="helium" class="nav-link">
                    <i class="nav-icon fa fa-globe text-light" aria-hidden="true"></i>
                    <p>Helium Console</p>
                    </a>
                </li>

                <div><hr class="dotted"></div>
                <li class="nav-header">Orbiwise Telemetrik</li>

                <li class="nav-item">
                    <a routerLink="devices-status" [queryParams]="{user: '0'}" class="nav-link">
                    <i class="nav-icon fa fa-microchip text-primary" aria-hidden="true"></i>
                    <p>Devices</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a routerLink="gateways-status" [queryParams]="{user: '0'}"class="nav-link">
                    <i class="nav-icon fa fa-wifi text-primary"></i>
                    <p>Gateways</p>
                    </a>
                </li>

                <div><hr class="dotted"></div>
                <li class="nav-header">Orbiwise Sabaneta</li>

                <li class="nav-item">
                    <a routerLink="devices-status" [queryParams]="{user: '1'}" class="nav-link">
                        <i class="nav-icon fa fa-microchip text-warning" aria-hidden="true"></i>
                    <p>Devices</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a routerLink="gateways-status" [queryParams]="{user: '1'}"class="nav-link">
                    <i class="nav-icon fa fa-wifi text-warning"></i>
                    <p>Gateways</p>
                    </a>
                </li>

                <div><hr class="dotted"></div>
                <li class="nav-header">Tools and Services</li>

                <li class="nav-item">
                    <a href="https://telelamp-serialport.web.app/" target="_blank" class="nav-link">
                        <i class="nav-icon fas fa-circle text-danger" aria-hidden="true"></i>
                    <p>Serial Port</p>
                    </a>
                </li>
 
                <div><hr class="solid"></div>



            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>