<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    
    <a href="" class="brand-link">
        <img src="assets/img/telemetrik_logo.png" alt="Telemetrik" class="brand-text p-2" style="max-width: 100%">
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-none">
        <div class="image">
        <img src="assets/img/user_icon.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
        <a href="#" class="d-block">Eduardo Gonzalez</a>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            <li class="nav-item">
                <a routerLink="devices-status" [queryParams]="{user: paramsURL['user']}" class="nav-link">
                <i class="nav-icon fa fa-microchip text-info" aria-hidden="true"></i>
                <p>Devices</p>
                </a>
            </li>

            <li class="nav-item d-none">
                <a routerLink="devices-control" [queryParams]="{user: paramsURL['user']}" class="nav-link">
                <i class="nav-icon far fa-circle text-info"></i>
                <p>Control Devices</p>
                </a>
            </li>

            <li class="nav-item">
                <a routerLink="gateways-status" [queryParams]="{user: paramsURL['user']}"class="nav-link">
                <i class="nav-icon fa fa-wifi text-info"></i>
                <p>Gateways</p>
                </a>
            </li>

        </ul>
    </nav>
    <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>