
<div class="container text-center p-5">
    
    <div class="col-12 m-3" style="height: 200px;">
        <a href="https://telemetrik.co/" target="_blank"><img src="assets/img/telemetrik_logo.png" alt="Telemetrik"></a>
    </div>

    <button (click)="gotoDashboard('telemetrik')" class="btn btn-lg btn-outline-primary col-5 m-3">Dashboard Telemetrik</button>
    <button (click)="gotoDashboard('sabaneta')" class="btn btn-lg btn-outline-success col-5 m-3">Dashboard Sabaneta</button>
    <a href="https://telelamp-serialport.web.app/" target="_blank" class="btn btn-lg btn-outline-dark col-8 m-3">Serial Port App <br><span class="text-danger" style="font-size: 0.8em;">(Windos Devices Only)</span></a>
</div>





<!--
<div class="login-page">
    <div class="card">
        <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form action="../../index3.html" method="post">
            <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email">
            <div class="input-group-append">
                <div class="input-group-text">
                <span class="fas fa-envelope"></span>
                </div>
            </div>
            </div>
            <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password">
            <div class="input-group-append">
                <div class="input-group-text">
                <span class="fas fa-lock"></span>
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-8">
                <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                    Remember Me
                </label>
                </div>
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </div>
            </div>
        </form>

        <div class="social-auth-links text-center mb-3">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
            </a>
            <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
            </a>
        </div>

        <p class="mb-1">
            <a href="forgot-password.html">I forgot my password</a>
        </p>
        <p class="mb-0">
            <a href="register.html" class="text-center">Register a new membership</a>
        </p>
        </div>
    </div>
</div>
-->